<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#not-google-plus-nav">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Not Google Plus</a>
        </div> <!-- ./navbar-header -->

        <div class="collapse navbar-collapse" id="not-google-plus-nav">
            <ul class="nav navbar-nav pull-right">
                {% if user.is_authenticated %}
                <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
                <li><a href="/+{{ user.username }}/settings">Settings</a></li>
                <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div> <!-- /.collapse.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</nav>
